{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 sign_form">
                <h1 class="text-center">{% trans %}Sign Up{% endtrans %}</h1>
                <form action="{{ path('fos_user_registration_register') }}" method="POST">
                    <div class="form-group" id="fos_user_registration_form">
                        <label for="username">{% trans %}Username{% endtrans %}</label>
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.username) }}

                        <label for="email">{% trans %}Email{% endtrans %}</label>
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.email) }}

                        <label for="plainPassword.first">{% trans %}Password{% endtrans %}</label>
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.plainPassword.first) }}

                        <label for="plainPassword.second">{% trans %}Repeat Password{% endtrans %}</label>
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.plainPassword.second) }}

                        {{ form_rest(form) }}

                    </div>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'Sign Up'|trans }}">
                    <h6>
                        <a href="{{ path('app_site_index') }}" class="text-muted">{% trans %}Main Page{% endtrans %}</a>
                        <span>&bull;</span>
                        <a href="{{ path('fos_user_security_login') }}" class="text-muted">{% trans %}Login{% endtrans %}</a>
                    </h6>
                </form>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}