{% extends "@App/Site/header.html.twig" %}

{% block title %}{{ phrase.translate('ru').name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <h3>{% trans %}Phrase{% endtrans %}: {{ phrase.translate('ru').name }}</h3>

                <table class="table table-bordered">
                    {% for locale in have_translation %}
                        <tr>
                            <td style="width: 50px"><b>{{ locale|trans }}</b></td>
                            <td>{{ phrase.translate(locale).name }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% if user != null %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
